# Tweets Classification

## 1. Data Preprocessing

### 1.1 Overview

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# Election data
trump_df = pd.read_csv('/content/hashtag_donaldtrump.csv',lineterminator='\n')
biden_df= pd.read_csv('/content/hashtag_joebiden.csv',lineterminator='\n')

In [ ]:
trump_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:01,1.316529e+18,"Usa 2020, Trump contro Facebook e Twitter: cop...",26.0,9.0,Social Mediaset,3.316176e+08,Tgcom24,MediasetTgcom24,Profilo ufficiale di Tgcom24: tutte le notizie...,...,1067661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.373216530
2,2020-10-15 00:00:02,1.316529e+18,"#Trump: As a student I used to hear for years,...",2.0,1.0,Twitter Web App,8.436472e+06,snarke,snarke,"Will mock for food! Freelance writer, blogger,...",...,1185.0,Portland,45.520247,-122.674195,Portland,United States of America,North America,Oregon,OR,2020-10-21 00:00:00.746433060
3,2020-10-15 00:00:02,1.316529e+18,2 hours since last tweet from #Trump! Maybe he...,0.0,0.0,Trumpytweeter,8.283556e+17,Trumpytweeter,trumpytweeter,"If he doesn't tweet for some time, should we b...",...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.119649591
4,2020-10-15 00:00:08,1.316529e+18,You get a tie! And you get a tie! #Trump ‚Äòs ra...,4.0,3.0,Twitter for iPhone,4.741380e+07,Rana Abtar - ÿ±ŸÜÿß ÿ£ÿ®ÿ™ÿ±,Ranaabtar,"Washington Correspondent, Lebanese-American ,c...",...,5393.0,Washington DC,38.894992,-77.036558,Washington,United States of America,North America,District of Columbia,DC,2020-10-21 00:00:01.492866121

In [ ]:
biden_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,1860.0,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00
1,2020-10-15 00:00:18,1.316529e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,8.099044e+08,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,6628.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283
2,2020-10-15 00:00:20,1.316529e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3.494182e+09,Flag Waver,Flag_Wavers,NaN,...,1536.0,Golden Valley Arizona,46.304036,-109.171431,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566
3,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596e+17,Michelle Ferg,MichelleFerg4,NaN,...,27.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849
4,2020-10-15 00:00:22,1.316529e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032807e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,390.0,"California, USA",36.701463,-118.755997,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132

In [ ]:
trump_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 970919 entries, 0 to 970918
Data columns (total 21 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   created_at            970919 non-null  object
 1   tweet_id              970919 non-null  float64
 2   tweet                 970919 non-null  object
 3   likes                 970919 non-null  float64
 4   retweet_count         970919 non-null  float64
 5   source                970043 non-null  object
 6   user_id               970919 non-null  float64
 7   user_name             970903 non-null  object
 8   user_screen_name      970919 non-null  object
 9   user_description      869653 non-null  object
 10  user_join_date        970919 non-null  object
 11  user_followers_count  970919 non-null  float64
 12  user_location         675966 non-null  object
 13  lat                   445719 non-null  float64
 14  long                  445719 non-null  float64
 15  city                  227187 non-null  object
 16  country               442748 non-null  object
 17  continent             442765 non-null  object
 18  state                 320620 non-null  object
 19  state_code            300425 non-null  object
 20  collected_at          970919 non-null  object
dtypes: float64(7), object(14)
memory usage: 155.6+ MB

In [ ]:
print("Trump's shape: ", trump_df.shape)
print("Biden's shape: ", biden_df.shape)

Trump's shape:  (970919, 21)
Biden's shape:  (776886, 21)

In [ ]:
trump_df.isnull().sum()

created_at                   0
tweet_id                     0
tweet                        0
likes                        0
retweet_count                0
source                     876
user_id                      0
user_name                   16
user_screen_name             0
user_description        101266
user_join_date               0
user_followers_count         0
user_location           294953
lat                     525200
long                    525200
city                    743732
country                 528171
continent               528154
state                   650299
state_code              670494
collected_at                 0
dtype: int64

In [ ]:
biden_df.isnull().sum()

created_at                   0
tweet_id                     0
tweet                        0
likes                        0
retweet_count                0
source                     713
user_id                      0
user_name                   18
user_screen_name             0
user_description         82006
user_join_date               0
user_followers_count         0
user_location           233791
lat                     421593
long                    421593
city                    590014
country                 423107
continent               423089
state                   516691
state_code              532277
collected_at                 0
dtype: int64

In [ ]:
# Add labels
# 0 - Biden
# 1 - Trump

trump_df['label'] = 1
biden_df['label'] = 0

In [ ]:
biden_df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_location,lat,long,city,country,continent,state,state_code,collected_at,label
0,2020-10-15 00:00:01,1.316529e+18,#Elecciones2020 | En #Florida: #JoeBiden dice ...,0.0,0.0,TweetDeck,3.606665e+08,El Sol Latino News,elsollatinonews,üåê Noticias de inter√©s para latinos de la costa...,...,"Philadelphia, PA / Miami, FL",25.774270,-80.193660,NaN,United States of America,North America,Florida,FL,2020-10-21 00:00:00,0
1,2020-10-15 00:00:18,1.316529e+18,#HunterBiden #HunterBidenEmails #JoeBiden #Joe...,0.0,0.0,Twitter for iPad,8.099044e+08,Cheri A. üá∫üá∏,Biloximeemaw,"Locked and loaded Meemaw. Love God, my family ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:00.517827283,0
2,2020-10-15 00:00:20,1.316529e+18,@IslandGirlPRV @BradBeauregardJ @MeidasTouch T...,0.0,0.0,Twitter Web App,3.494182e+09,Flag Waver,Flag_Wavers,NaN,...,Golden Valley Arizona,46.304036,-109.171431,NaN,United States of America,North America,Montana,MT,2020-10-21 00:00:01.035654566,0
3,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let‚Äôs...,0.0,0.0,Twitter for iPhone,8.242596e+17,Michelle Ferg,MichelleFerg4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 00:00:01.553481849,0
4,2020-10-15 00:00:22,1.316529e+18,#censorship #HunterBiden #Biden #BidenEmails #...,1.0,0.0,Twitter Web App,1.032807e+18,the Gold State,theegoldstate,A Silicon Valley #independent #News #Media #St...,...,"California, USA",36.701463,-118.755997,NaN,United States of America,North America,California,CA,2020-10-21 00:00:02.071309132,0

In [ ]:
# Concat data

df = pd.concat([trump_df, biden_df], axis=0)

In [ ]:
# shuffle the DataFrame
df = df.sample(frac=1).reset_index(drop=True)

df.head()

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_location,lat,long,city,country,continent,state,state_code,collected_at,label
0,2020-11-04 00:06:52,1.323779e+18,"For either #DonaldTrump and #JoeBiden, in the ...",3.0,1.0,Twitter Web App,3.787485e+07,The Straits Times,STcom,Stay in the know with the latest news from Sin...,...,Singapore,1.290475,103.852036,Singapore,Singapore,Asia,NaN,NaN,2020-11-05 13:09:42.672148,0
1,2020-10-25 19:27:39,1.320447e+18,We just voted for Joe &amp; Kamala\n\nI chose ...,1161.0,206.0,Twitter for iPad,3.991786e+08,Christopher üò∑ Proud Dem,cwebbonline,Husband | Father | California Native | Lifelon...,...,"California, USA",36.701463,-118.755997,NaN,United States of America,North America,California,CA,2020-10-27 18:05:19.929660,0
2,2020-10-17 13:48:03,1.317462e+18,@realDonaldTrump @SenSasse Worst president in ...,0.0,0.0,Twitter for iPad,5.086593e+07,Don Carroll,bkh86,"Outrageously blessed as husband, father, papa,...",...,NE Ohio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-10-21 05:23:47.786489043,1
3,2020-10-30 18:13:03,1.322240e+18,D√ºnyanƒ±n yakƒ±ndan takip ettiƒüi Amerika Ba≈ükanl...,2.0,0.0,Twitter Web App,1.082640e+18,Akcebet,akcebet1,Akcebet sitesi resmi twitter hesabidir. Akcebe...,...,"Glasgow, Scotland",55.860982,-4.248879,Glasgow,United Kingdom,Europe,Scotland,SCT,2020-11-01 11:02:27.542719,0
4,2020-11-03 21:56:21,1.323746e+18,@realDonaldTrump #Trump2020 #Trump #Biden2020 ...,0.0,0.0,Twitter for Android,4.228744e+08,EmiGiamma,EmilianoGiamma,NaN,...,Civitavecchia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-11-04 09:43:14.343889,0

## 2. Feature Engineering

### 2.1 Removing irrelevant features

In [ ]:
drop_cols = ['likes', 'retweet_count', 'source', 'user_id', 'user_name', 'user_screen_name', 'user_description',
            'user_join_date', 'user_followers_count', 'user_location', 'lat', 'long', 'city', 'country', 'continent',
            'state', 'state_code', 'created_at', 'collected_at', 'tweet_id']

df.drop(columns=drop_cols, inplace=True)
df.head()

                                               tweet  label
0  For either #DonaldTrump and #JoeBiden, in the ...      0
1  We just voted for Joe &amp; Kamala\n\nI chose ...      0
2  @realDonaldTrump @SenSasse Worst president in ...      1
3  D√ºnyanƒ±n yakƒ±ndan takip ettiƒüi Amerika Ba≈ükanl...      0
4  @realDonaldTrump #Trump2020 #Trump #Biden2020 ...      0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1747805 entries, 0 to 1747804
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   tweet   object
 1   label   int64
dtypes: int64(1), object(1)
memory usage: 26.7+ MB

### 2.2 Reformat Tweets

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# download required NLTK resources
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('omw-1.4')

# define a function to filter stop words and perform lemmatization
def preprocess_text(text):
    # convert text to lowercase
    text = text.lower()
    
    # tokenize the text into individual words
    words = nltk.word_tokenize(text)
    
    # filter out stop words
    stop_words = set(stopwords.words('english'))
    words = [word for word in words if word not in stop_words]
    
    # perform lemmatization
    lemmatizer = WordNetLemmatizer()
    words = [lemmatizer.lemmatize(word) for word in words]
    
    # join the words back into a single string
    preprocessed_text = ' '.join(words)
    
    return preprocessed_text



import re

def format_tweets(tweet):
    # mask web urls
    # format twitter account
    tweet = re.sub(r"(\s*)(@[\S]+)\b", r'', tweet)
    tweet = re.sub(r"(\s*)(#[\S]+)\b", r'', tweet)
    tweet = re.sub(r"(\s*)(http:[\S]+)\b", r'', tweet)
    tweet = re.sub(r"(\s*)(https:[\S]+)\b", r'', tweet)
    tweet = re.sub("[^A-Za-z -]", " ", tweet)
    tweet = re.sub("&(amp;)+", " ", tweet)
    return tweet.lower()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

In [ ]:
df['format_tweet'] = df['tweet'].apply(preprocess_text) # filter stop words and lemmetization
df['format_tweet'] = df['format_tweet'].apply(format_tweets) # format tweets

df.head()

,tweet,label,format_tweet
0,"For either #DonaldTrump and #JoeBiden, in the ...",0,either donaldtrump joebiden fight life ...
1,We just voted for Joe &amp; Kamala\n\nI chose ...,0,voted joe amp kamala chose vote person wan...
2,@realDonaldTrump @SenSasse Worst president in ...,1,realdonaldtrump sensasse worst president h...
3,D√ºnyanƒ±n yakƒ±ndan takip ettiƒüi Amerika Ba≈ükanl...,0,d nyan n yak ndan takip etti i amerika ba kanl...
4,@realDonaldTrump #Trump2020 #Trump #Biden2020 ...,0,realdonaldtrump trump trump biden ...

## 3. ML models

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

# Naive Bayes

X_train, X_test, y_train, y_test = train_test_split(df['format_tweet'], df['label'], test_size=0.2)

# create a bag-of-words representation of the text data
vectorizer = CountVectorizer()
X_train_vectors = vectorizer.fit_transform(X_train)
X_test_vectors = vectorizer.transform(X_test)

# train a Naive Bayes classifier on the training data
classifier = MultinomialNB()
classifier.fit(X_train_vectors, y_train)

# evaluate the classifier on the testing data
accuracy = classifier.score(X_test_vectors, y_test)
print('Accuracy:', accuracy)

Accuracy: 0.7614379178455263

In [ ]:
# SVM
from sklearn.svm import SVC
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report


X_train, X_test, y_train, y_test = train_test_split(df['format_tweet'], df['label'], test_size=0.2)

# Create TF-IDF vectors from text data
vectorizer = TfidfVectorizer(max_features=1000)
X_train_vectors = vectorizer.fit_transform(X_train)
X_test_vectors = vectorizer.transform(X_test)

# Train SVM classifier on train set
classifier = SVC(kernel='linear')
classifier.fit(X_train_vectors, y_train)

# Predict labels for test set
y_pred = classifier.predict(X_test_vectors)

print(classification_report(y_test, y_pred))

# Accuracy score
print('accuracy is',accuracy_score(y_test,y_pred))

In [ ]:
# CNN

from keras.models import Sequential
from keras.layers import Embedding, Conv1D, MaxPooling1D, Flatten, Dense
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences


# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(df['format_tweet'], df['label'], test_size=0.2, random_state=42)

# Tokenize text data and pad sequences
tokenizer = Tokenizer(num_words=10000)
tokenizer.fit_on_texts(X_train)
X_train_sequences = tokenizer.texts_to_sequences(X_train)
X_train_padded = pad_sequences(X_train_sequences, maxlen=100, padding='post', truncating='post')
X_test_sequences = tokenizer.texts_to_sequences(X_test)
X_test_padded = pad_sequences(X_test_sequences, maxlen=100, padding='post', truncating='post')

# Define CNN model
model = Sequential()
model.add(Embedding(input_dim=10000, output_dim=100, input_length=100))
model.add(Conv1D(filters=64, kernel_size=3, activation='relu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(units=64, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train CNN model
model.fit(X_train_padded, y_train, epochs=10, batch_size=32)

# Evaluate CNN model on test set
y_pred = model.predict(X_test_padded)
y_pred = np.round(y_pred).astype(int).flatten()
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy:', accuracy)

In [ ]:
print("here")